[package]
name = "hubcaps"
version = "0.4.3"
authors = ["softprops <d.tangren@gmail.com>"]
description = "Rust interface for Github"
documentation = "https://softprops.github.io/hubcaps"
homepage = "https://github.com/softprops/hubcaps"
repository = "https://github.com/softprops/hubcaps"
keywords = ["hyper", "github"]
license = "MIT"
categories = ["api-bindings", "web-programming::http-client"]
readme = "README.md"

[badges]
travis-ci = { repository = "softprops/hubcaps" }
coveralls = { repository = "softprops/hubcaps" }

[dev-dependencies]
env_logger = "0.3"

[dependencies]
futures = "0.1"
hyper = "0.11"
log = "0.4"
url = "1.6"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
error-chain = "0.11"
tokio-core = "0.1"

[dependencies.hyper-tls]
optional = true
version = "0.1.2"

[features]
default = ["tls"]
tls = ["hyper-tls"]